body {
    margin: 0;
}
#video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 177.78%;
    background-color: black;
    overflow: hidden;
}
#video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.loaded #video-container video {
    opacity: 1;
}
.content {
    width: 100%;
    height: auto;
}
.content img {
    width: 100%;
    height: auto;
}